@font-face {
    font-family: 'Braah One', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');
}

body{
    background-color: antiquewhite;
}

header{
    display: flex;
    align-items: center;
    background-color: blue;
}

#logo {
    height: 70px;
    margin-left: 50px;
}

#logo_text_and_image{
    font-weight: bolder;
    width: 100vh;
    display: flex;
    align-items: center;
    font-family: 'Braah One', sans-serif;
}

#header_buttons{
    position: absolute;
    right: 10px;
    display: block
}

#header_buttons button{
    display: inline;
    border-radius: 5px;
    flex-direction: row-reverse;
    height: 40px;
    border:0px;
    color: rgb(160, 160, 241);
    background-color: blueviolet;
}

#header_buttons button:hover{
    cursor: pointer;
    border: 2px solid rgb(77, 24, 128);
    transition: border 0.2s;
}

#header_buttons button a{
    text-decoration: none;
}

#header_buttons button a:visited{
    text-decoration: none;
}

#content{
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.conteiner{
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    overflow: hidden;
    margin-right: 40px;
    height: 70vh;
    width: 20vw;
    background-color: whitesmoke;
    border-radius: 40px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.15);
}

.top{
    width: 20vw;
    margin: 0;
    padding: 12px;
    font-family: 'Braah One', sans-serif;
    text-align: center;
    background-color: blue;
}

#addingaskdiv{
    position: absolute;
    bottom: 15px;
}

#AddTask{
    height: 30px;
    width: 15vw;
    border: 2px solid gray;
    border-radius: 7px;
}

#AddButton{
    height: 30px;
    width: 30px;
}

.addingTaskCard{
    background-color: antiquewhite;
}
#taskConteiner{
    font-family: 'Braah One', sans-serif;
    overflow: hidden;
    font-size: 20px;
    margin:20px;
    width: 18vw;
    text-align: center;
    background-color: red;
    background-color: gainsboro;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.15);
}
 
#taskCard{
    font-family: 'Braah One', sans-serif;;
    font-size: 20px;
    text-align: center;
    background-color: white;
}

#descriptionCard{
    font-size: 10px;
}

#taskEditor{
    overflow: hidden;
    top: 80px;
    position:absolute;
    z-index: 2;
    background-color: white;
    border-radius: 40px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.15);
    width: 0vw;
    height: 80vh;
    transition: width 0.2s;
}

#taskEditor h1{
    font-family: 'Braah One', sans-serif;
    padding: 7px;
    margin:0;
    text-align: center;
    background-color: rgb(84, 84, 250);
}

#forInput p{
    font-family: 'Braah One', sans-serif;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 30px;
}

#forInput{
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forInput input{
    margin-left: 0px;
    margin-top: 5px;
    width: 62vw;
    height: 30px;
}

#description{
    display: flex;
    justify-content: center;
    width: 62vw;
    height: 38vh;
    margin-top: 5px;
}

#Input-button{
    height: 40px;
    border-radius: 10px;
    border: solid 1px blue;
    background-color: rgb(84, 84, 250);
    margin-top: 14px;
}

#error{
    display: flex;
    align-items: center;
    z-index: 2;
    height: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Braah One', sans-serif;
    font-weight: bolder;
    position: absolute;
    background-color: rgb(234, 18, 18);
    border-radius: 10px;
    border: solid brown;
    transition: 0.2s heigth;
}